fastapi[standard]
uvicorn[standard]
python-dotenv
python-multipart
httpx
aiohttp
aiofiles

pymupdf
python-docx
openpyxl

sentence-transformers
faiss-cpu

google-generativeai
google-genai
groq
openai

rank-bm25
networkx

scipy
numpy
requests
beautifulsoup4
lxml

pydantic[email]
pydantic-settings
